<hr style="border: none; border-top: 1px solid #ddd; margin: 20px 0;">
<div class="contributor-footnotes">
<small>
<strong>Contributors:</strong>
{{#each authors as |a|}}
<a href="https://github.com/{{a.username}}">
<img src="https://github.com/{{a.username}}.png"
  width="32px" alt="Contributor {{a.username}}" style="border-radius: 50%">
</a>
</small>
{{/each}}
</div>
